@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

*{
  font-family: Outfit;
}

@theme {
  --color-primary: #1B82C2;
  --color-secondary: #438AAE;
  --color-third: #EF8224;
  --color-four: #1D1D1B;
}

.font-playfair{
  font-family: Playfair !important;
}